-- AlterTable
ALTER TABLE "Emergency" ADD COLUMN     "contactPerson" TEXT;

-- CreateTable
CREATE TABLE "Donor" (
    "id" TEXT NOT NULL,
    "latitude" DOUBLE PRECISION NOT NULL,
    "longitude" DOUBLE PRECISION NOT NULL,
    "placename" TEXT,
    "contactno" TEXT,
    "accuracy" DOUBLE PRECISION,
    "items" TEXT[],
    "availableFrom" TIMESTAMP(3),
    "availableUntil" TIMESTAMP(3),
    "additionalNotes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Donor_pkey" PRIMARY KEY ("id")
);

